In [2]:
#Load modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Load the excel file
df = pd.read_excel(r'C:\Users\habao\OneDrive\Documents\Data Analysis\Python Practice\Practice Panda\Datasets\Nashville Housing Data for Data Cleaning.xlsx')
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
pd.set_option('display.max.columns', None)

In [3]:
#Split the current address into smaller elements
df[['New_Address','New_City','New_State']] = df['OwnerAddress'].str.split(',', 2, expand = True)
df

C:\Users\habao\AppData\Local\Temp\ipykernel_24288\673088093.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['New_Address','New_City','New_State']] = df['OwnerAddress'].str.split(',', 2, expand = True)

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808 FOX CHASE DR,GOODLETTSVILLE,TN
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0,1832 FOX CHASE DR,GOODLETTSVILLE,TN
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0,1864 FOX CHASE DR,GOODLETTSVILLE,TN
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0,1853 FOX CHASE DR,GOODLETTSVILLE,TN
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0,1829 FOX CHASE DR,GOODLETTSVILLE,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
#Check for null values. Will use it constantly after recover missing values.
df.isna().sum()

UniqueID           0
ParcelID           0
LandUse            0
PropertyAddress    0
SaleDate           0
SalePrice          0
LegalReference     0
SoldAsVacant       0
OwnerName          0
OwnerAddress       0
Acreage            0
TaxDistrict        0
LandValue          0
BuildingValue      0
TotalValue         0
YearBuilt          0
Bedrooms           0
FullBath           0
HalfBath           0
dtype: int64

In [5]:
#Create a subset to fill in null values in the Property Address column
property_address_subset = df[df['PropertyAddress'].isna()]
property_address_subset

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
159,43076,025 07 0 031.00,SINGLE FAMILY,NaN,2016-01-15,179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",...,30000.0,70000.0,100000.0,1964.0,3.0,1.0,0.0,410 ROSEHILL CT,GOODLETTSVILLE,TN
223,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,NaN,2015-10-23,153000,20151028-0109602,No,"SHACKLEFORD, MICHAEL C., JR.","141 TWO MILE PIKE, GOODLETTSVILLE, TN",...,21100.0,121600.0,142700.0,2015.0,3.0,2.0,0.0,141 TWO MILE PIKE,GOODLETTSVILLE,TN
246,45290,026 05 0 017.00,SINGLE FAMILY,NaN,2016-03-29,155000,20160330-0029941,No,"TRIPP, MARVIN S. & DEBORAH YOUNG","208 EAST AVE, GOODLETTSVILLE, TN",...,21100.0,130200.0,151300.0,2008.0,3.0,2.0,0.0,208 EAST AVE,GOODLETTSVILLE,TN
305,53147,026 06 0A 038.00,RESIDENTIAL CONDO,NaN,2016-08-25,144900,20160831-0091567,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,43080,033 06 0 041.00,SINGLE FAMILY,NaN,2016-01-04,170000,20160107-0001526,No,"FRANK, ZACHARY & NIKI","1129 CAMPBELL RD, GOODLETTSVILLE, TN",...,35000.0,110500.0,145500.0,2000.0,3.0,2.0,0.0,1129 CAMPBELL RD,GOODLETTSVILLE,TN
533,45295,033 06 0A 002.00,SINGLE FAMILY,NaN,2016-03-29,210000,20160331-0030709,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,48731,033 15 0 123.00,SINGLE FAMILY,NaN,2016-05-05,199900,20160506-0045368,No,"COLEMAN, AARON A. & CECIL, CORRIE J.","438 W CAMPBELL RD, GOODLETTSVILLE, TN",...,45000.0,90300.0,135300.0,1954.0,2.0,1.0,0.0,438 W CAMPBELL RD,GOODLETTSVILLE,TN
858,36531,034 03 0 059.00,SINGLE FAMILY,NaN,2015-08-13,245000,20150819-0083759,No,"DILICK, JOHN MARK & ANNETTE A.","2117 PAULA DR, MADISON, TN",...,32000.0,170000.0,228300.0,1964.0,4.0,3.0,0.0,2117 PAULA DR,MADISON,TN
1043,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,NaN,2016-04-27,40000,20160304-0020905,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,44264,034 16 0A 004.00,VACANT RESIDENTIAL LAND,NaN,2016-02-04,130000,20160205-0011327,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1262,45298,041 03 0A 100.00,SINGLE FAMILY,NaN,2016-03-18,170000,20160322-0027048,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,40678,042 13 0 075.00,SINGLE FAMILY,NaN,2015-11-30,208000,20151209-0123831,No,"SADOWSKY, ERIC C. & LISA D.","222 FOXBORO DR, MADISON, TN",...,30000.0,100000.0,130000.0,1967.0,3.0,1.0,1.0,222 FOXBORO DR,MADISON,TN
1782,47293,043 04 0 014.00,SINGLE FAMILY,NaN,2016-04-29,190000,20160503-0043576,No,"CRIPPS, WILLIE S. JR. & GINEA M.","112 HILLER DR, OLD HICKORY, TN",...,17000.0,143700.0,173600.0,1956.0,4.0,2.0,1.0,112 HILLER DR,OLD HICKORY,TN
1921,22775,043 09 0 074.00,VACANT RESIDENTIAL LAND,NaN,2014-10-27,151000,20141028-0099094,Yes,"BREWER HOLDINGS, LLC","213 B LOVELL ST, MADISON, TN",...,18000.0,115600.0,133600.0,2015.0,3.0,2.0,0.0,213 B LOVELL ST,MADISON,TN
2110,45349,043 13 0 308.00,SINGLE FAMILY,NaN,2016-03-31,155000,20160405-0032445,No,"JACKSON, ADAM L. & MOORE, MARY A.","224 HICKORY ST, MADISON, TN",...,16000.0,65900.0,81900.0,1940.0,2.0,1.0,0.0,224 HICKORY ST,MADISON,TN
2362,50927,044 05 0 135.00,SINGLE FAMILY,NaN,2016-06-15,160000,20160617-0061987,No,"SMITH, WARREN & MARTHA","202 KEETON AVE, OLD HICKORY, TN",...,19000.0,102700.0,121700.0,2015.0,4.0,2.0,0.0,202 KEETON AVE,OLD HICKORY,TN
3434,3299,052 01 0 296.00,SINGLE FAMILY,NaN,2013-05-31,79370,20130620-0063114,No,"KIRBY, WILLIAM E. JR","726 IDLEWILD DR, MADISON, TN",...,16000.0,60800.0,76800.0,1957.0,2.0,1.0,0.0,726 IDLEWILD DR,MADISON,TN
3681,43151,052 08 0A 320.00,SINGLE FAMILY,NaN,2016-01-15,150000,20160119-0004918,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19984,49886,092 06 0 273.00,SINGLE FAMILY,NaN,2016-06-21,186000,20160705-0068281,No,"SOLAVA, RACHEL LYNN","2721 HERMAN ST, NASHVILLE, TN",...,9000.0,63200.0,72200.0,1987.0,2.0,1.0,1.0,2721 HERMAN ST,NASHVILLE,TN
19986,27140,092 06 0 282.00,SINGLE FAMILY,NaN,2015-02-20,41500,20150224-0015900,No,PROSPERITAS PARTNERS LLC,"815 31ST AVE N, NASHVILLE, TN",...,13000.0,49400.0,62400.0,1960.0,2.0,1.0,0.0,815 31ST AVE N,NASHVILLE,TN
20328,11478,092 13 0 322.00,SINGLE FAMILY,NaN,2014-01-17,269500,20140122-0006168,No,"WIGGINS, MATHEW L. & GOOD, KENDRA A.","237 37TH AVE N, NASHVILLE, TN",...,91000.0,107100.0,198100.0,1945.0,2.0,1.0,0.0,237 37TH AVE N,NASHVILLE,TN
20332,32385,092 13 0 339.00,SINGLE FAMILY,NaN,2015-06-05,450000,20150618-0058311,No,"JUMPER, NICOLE","311 35TH AVE N, NASHVILLE, TN",...,65000.0,365300.0,430300.0,2015.0,3.0,3.0,1.0,311 35TH AVE N,NASHVILLE,TN
21129,8126,093 08 0 054.00,SINGLE FAMILY,NaN,2013-09-20,25000,20130923-0099666,N,"CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN","700 GLENVIEW DR, NASHVILLE, TN",...,25000.0,236800.0,261800.0,2015.0,3.0,2.0,1.0,700 GLENVIEW DR,NASHVILLE,TN
29124,45774,107 13 0 107.00,SINGLE FAMILY,NaN,2016-03-28,169900,20160330-0030078,No,"GROOMS, MICAH & CASEY","1205 THOMPSON PL, NASHVILLE, TN",...,17000.0,75600.0,96200.0,1949.0,3.0,1.0,0.0,1205 THOMPSON PL,NASHVILLE,TN
29332,14753,108 07 0A 026.00,RESIDENTIAL CONDO,NaN,2014-04-15,79900,20140416-0031777,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29894,15886,109 04 0A 080.00,VACANT RES LAND,NaN,2014-05-13,255590,20140514-0041276,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30087,24197,110 03 0A 061.00,SINGLE FAMILY,NaN,2014-11-19,269750,20141120-0106962,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30192,51930,113 14 0A 002.00,VACANT RESIDENTIAL LAND,NaN,2016-07-05,133000,20160707-0069375,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30540,51703,114 15 0A 030.00,RESIDENTIAL CONDO,NaN,2016-07-08,343235,20160713-0071757,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Test the code to fill in the null values
mask = (property_address_subset['PropertyAddress'].isna())
property_address_subset.loc[mask, 'PropertyAddress'] = property_address_subset.loc[mask, 'PropertyAddress'].fillna(property_address_subset['OwnerAddress'])
property_address_subset

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
159,43076,025 07 0 031.00,SINGLE FAMILY,"410 ROSEHILL CT, GOODLETTSVILLE, TN",2016-01-15,179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",...,30000.0,70000.0,100000.0,1964.0,3.0,1.0,0.0,410 ROSEHILL CT,GOODLETTSVILLE,TN
223,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,"141 TWO MILE PIKE, GOODLETTSVILLE, TN",2015-10-23,153000,20151028-0109602,No,"SHACKLEFORD, MICHAEL C., JR.","141 TWO MILE PIKE, GOODLETTSVILLE, TN",...,21100.0,121600.0,142700.0,2015.0,3.0,2.0,0.0,141 TWO MILE PIKE,GOODLETTSVILLE,TN
246,45290,026 05 0 017.00,SINGLE FAMILY,"208 EAST AVE, GOODLETTSVILLE, TN",2016-03-29,155000,20160330-0029941,No,"TRIPP, MARVIN S. & DEBORAH YOUNG","208 EAST AVE, GOODLETTSVILLE, TN",...,21100.0,130200.0,151300.0,2008.0,3.0,2.0,0.0,208 EAST AVE,GOODLETTSVILLE,TN
305,53147,026 06 0A 038.00,RESIDENTIAL CONDO,NaN,2016-08-25,144900,20160831-0091567,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,43080,033 06 0 041.00,SINGLE FAMILY,"1129 CAMPBELL RD, GOODLETTSVILLE, TN",2016-01-04,170000,20160107-0001526,No,"FRANK, ZACHARY & NIKI","1129 CAMPBELL RD, GOODLETTSVILLE, TN",...,35000.0,110500.0,145500.0,2000.0,3.0,2.0,0.0,1129 CAMPBELL RD,GOODLETTSVILLE,TN
533,45295,033 06 0A 002.00,SINGLE FAMILY,NaN,2016-03-29,210000,20160331-0030709,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,48731,033 15 0 123.00,SINGLE FAMILY,"438 W CAMPBELL RD, GOODLETTSVILLE, TN",2016-05-05,199900,20160506-0045368,No,"COLEMAN, AARON A. & CECIL, CORRIE J.","438 W CAMPBELL RD, GOODLETTSVILLE, TN",...,45000.0,90300.0,135300.0,1954.0,2.0,1.0,0.0,438 W CAMPBELL RD,GOODLETTSVILLE,TN
858,36531,034 03 0 059.00,SINGLE FAMILY,"2117 PAULA DR, MADISON, TN",2015-08-13,245000,20150819-0083759,No,"DILICK, JOHN MARK & ANNETTE A.","2117 PAULA DR, MADISON, TN",...,32000.0,170000.0,228300.0,1964.0,4.0,3.0,0.0,2117 PAULA DR,MADISON,TN
1043,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,NaN,2016-04-27,40000,20160304-0020905,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,44264,034 16 0A 004.00,VACANT RESIDENTIAL LAND,NaN,2016-02-04,130000,20160205-0011327,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1262,45298,041 03 0A 100.00,SINGLE FAMILY,NaN,2016-03-18,170000,20160322-0027048,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,40678,042 13 0 075.00,SINGLE FAMILY,"222 FOXBORO DR, MADISON, TN",2015-11-30,208000,20151209-0123831,No,"SADOWSKY, ERIC C. & LISA D.","222 FOXBORO DR, MADISON, TN",...,30000.0,100000.0,130000.0,1967.0,3.0,1.0,1.0,222 FOXBORO DR,MADISON,TN
1782,47293,043 04 0 014.00,SINGLE FAMILY,"112 HILLER DR, OLD HICKORY, TN",2016-04-29,190000,20160503-0043576,No,"CRIPPS, WILLIE S. JR. & GINEA M.","112 HILLER DR, OLD HICKORY, TN",...,17000.0,143700.0,173600.0,1956.0,4.0,2.0,1.0,112 HILLER DR,OLD HICKORY,TN
1921,22775,043 09 0 074.00,VACANT RESIDENTIAL LAND,"213 B LOVELL ST, MADISON, TN",2014-10-27,151000,20141028-0099094,Yes,"BREWER HOLDINGS, LLC","213 B LOVELL ST, MADISON, TN",...,18000.0,115600.0,133600.0,2015.0,3.0,2.0,0.0,213 B LOVELL ST,MADISON,TN
2110,45349,043 13 0 308.00,SINGLE FAMILY,"224 HICKORY ST, MADISON, TN",2016-03-31,155000,20160405-0032445,No,"JACKSON, ADAM L. & MOORE, MARY A.","224 HICKORY ST, MADISON, TN",...,16000.0,65900.0,81900.0,1940.0,2.0,1.0,0.0,224 HICKORY ST,MADISON,TN
2362,50927,044 05 0 135.00,SINGLE FAMILY,"202 KEETON AVE, OLD HICKORY, TN",2016-06-15,160000,20160617-0061987,No,"SMITH, WARREN & MARTHA","202 KEETON AVE, OLD HICKORY, TN",...,19000.0,102700.0,121700.0,2015.0,4.0,2.0,0.0,202 KEETON AVE,OLD HICKORY,TN
3434,3299,052 01 0 296.00,SINGLE FAMILY,"726 IDLEWILD DR, MADISON, TN",2013-05-31,79370,20130620-0063114,No,"KIRBY, WILLIAM E. JR","726 IDLEWILD DR, MADISON, TN",...,16000.0,60800.0,76800.0,1957.0,2.0,1.0,0.0,726 IDLEWILD DR,MADISON,TN
3681,43151,052 08 0A 320.00,SINGLE FAMILY,NaN,2016-01-15,150000,20160119-0004918,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19984,49886,092 06 0 273.00,SINGLE FAMILY,"2721 HERMAN ST, NASHVILLE, TN",2016-06-21,186000,20160705-0068281,No,"SOLAVA, RACHEL LYNN","2721 HERMAN ST, NASHVILLE, TN",...,9000.0,63200.0,72200.0,1987.0,2.0,1.0,1.0,2721 HERMAN ST,NASHVILLE,TN
19986,27140,092 06 0 282.00,SINGLE FAMILY,"815 31ST AVE N, NASHVILLE, TN",2015-02-20,41500,20150224-0015900,No,PROSPERITAS PARTNERS LLC,"815 31ST AVE N, NASHVILLE, TN",...,13000.0,49400.0,62400.0,1960.0,2.0,1.0,0.0,815 31ST AVE N,NASHVILLE,TN
20328,11478,092 13 0 322.00,SINGLE FAMILY,"237 37TH AVE N, NASHVILLE, TN",2014-01-17,269500,20140122-0006168,No,"WIGGINS, MATHEW L. & GOOD, KENDRA A.","237 37TH AVE N, NASHVILLE, TN",...,91000.0,107100.0,198100.0,1945.0,2.0,1.0,0.0,237 37TH AVE N,NASHVILLE,TN
20332,32385,092 13 0 339.00,SINGLE FAMILY,"311 35TH AVE N, NASHVILLE, TN",2015-06-05,450000,20150618-0058311,No,"JUMPER, NICOLE","311 35TH AVE N, NASHVILLE, TN",...,65000.0,365300.0,430300.0,2015.0,3.0,3.0,1.0,311 35TH AVE N,NASHVILLE,TN
21129,8126,093 08 0 054.00,SINGLE FAMILY,"700 GLENVIEW DR, NASHVILLE, TN",2013-09-20,25000,20130923-0099666,N,"CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN","700 GLENVIEW DR, NASHVILLE, TN",...,25000.0,236800.0,261800.0,2015.0,3.0,2.0,1.0,700 GLENVIEW DR,NASHVILLE,TN
29124,45774,107 13 0 107.00,SINGLE FAMILY,"1205 THOMPSON PL, NASHVILLE, TN",2016-03-28,169900,20160330-0030078,No,"GROOMS, MICAH & CASEY","1205 THOMPSON PL, NASHVILLE, TN",...,17000.0,75600.0,96200.0,1949.0,3.0,1.0,0.0,1205 THOMPSON PL,NASHVILLE,TN
29332,14753,108 07 0A 026.00,RESIDENTIAL CONDO,NaN,2014-04-15,79900,20140416-0031777,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29894,15886,109 04 0A 080.00,VACANT RES LAND,NaN,2014-05-13,255590,20140514-0041276,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30087,24197,110 03 0A 061.00,SINGLE FAMILY,NaN,2014-11-19,269750,20141120-0106962,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30192,51930,113 14 0A 002.00,VACANT RESIDENTIAL LAND,NaN,2016-07-05,133000,20160707-0069375,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30540,51703,114 15 0A 030.00,RESIDENTIAL CONDO,NaN,2016-07-08,343235,20160713-0071757,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Fill in null values in the main dataframe
mask = (df['PropertyAddress'].isna())
df.loc[mask, 'PropertyAddress'] = df.loc[mask, 'PropertyAddress'].fillna(df['OwnerAddress'])
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Test the code to fill in the remaining null values
property_address_subset[property_address_subset['PropertyAddress'].isna()].fillna('Not Available')

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
305,53147,026 06 0A 038.00,RESIDENTIAL CONDO,Not Available,2016-08-25,144900,20160831-0091567,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
533,45295,033 06 0A 002.00,SINGLE FAMILY,Not Available,2016-03-29,210000,20160331-0030709,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
1043,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,Not Available,2016-04-27,40000,20160304-0020905,Yes,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
1176,44264,034 16 0A 004.00,VACANT RESIDENTIAL LAND,Not Available,2016-02-04,130000,20160205-0011327,Yes,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
1262,45298,041 03 0A 100.00,SINGLE FAMILY,Not Available,2016-03-18,170000,20160322-0027048,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
3681,43151,052 08 0A 320.00,SINGLE FAMILY,Not Available,2016-01-15,150000,20160119-0004918,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
29332,14753,108 07 0A 026.00,RESIDENTIAL CONDO,Not Available,2014-04-15,79900,20140416-0031777,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
29894,15886,109 04 0A 080.00,VACANT RES LAND,Not Available,2014-05-13,255590,20140514-0041276,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
30087,24197,110 03 0A 061.00,SINGLE FAMILY,Not Available,2014-11-19,269750,20141120-0106962,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
30192,51930,113 14 0A 002.00,VACANT RESIDENTIAL LAND,Not Available,2016-07-05,133000,20160707-0069375,Yes,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
30540,51703,114 15 0A 030.00,RESIDENTIAL CONDO,Not Available,2016-07-08,343235,20160713-0071757,No,Not Available,Not Available,...,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [5]:
#Fill in the remaining null values in the main dataframe
mask = (df['PropertyAddress'].isna())
df.loc[mask, 'PropertyAddress'] = df.loc[mask, 'PropertyAddress'].fillna('Not Available')
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Find similar/misspelled values in the LandUse column
df['LandUse'].value_counts()

SINGLE FAMILY                                 34197
RESIDENTIAL CONDO                             14362
VACANT RESIDENTIAL LAND                        5099
DUPLEX                                         1373
ZERO LOT LINE                                  1048
RESIDENTIAL COMBO/MISC                           95
TRIPLEX                                          92
QUADPLEX                                         39
CHURCH                                           34
MOBILE HOME                                      20
DORMITORY/BOARDING HOUSE                         19
SPLIT CLASS                                      17
VACANT COMMERCIAL LAND                           17
GREENBELT                                        13
PARKING LOT                                      11
FOREST                                           10
PARSONAGE                                         6
VACANT RURAL LAND                                 2
VACANT ZONED MULTI FAMILY                         2
OFFICE BLDG (ONE OR TWO STORIES)                  2
DAY CARE CENTER                                   2
NON-PROFIT CHARITABLE SERVICE                     2
TERMINAL/DISTRIBUTION WAREHOUSE                   2
RESTURANT/CAFETERIA                               2
APARTMENT: LOW RISE (BUILT SINCE 1960)            2
STRIP SHOPPING CENTER                             1
SMALL SERVICE SHOP                                1
ONE STORY GENERAL RETAIL STORE                    1
NIGHTCLUB/LOUNGE                                  1
CLUB/UNION HALL/LODGE                             1
LIGHT MANUFACTURING                               1
METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK        1
CONVENIENCE MARKET WITHOUT GAS                    1
MORTUARY/CEMETERY                                 1
Name: LandUse, dtype: int64

In [59]:
#Find values with similar patterns
df[df['LandUse'].str.contains(r'GREENBELT')]['LandUse'].value_counts()

GREENBELT                              10
GREENBELT/RES_x000D_\nGRRENBELT/RES     3
Name: LandUse, dtype: int64

In [61]:
#Create a subset of the LandUse column for testing
land_use_subset = df['LandUse']
land_use_subset.value_counts()

SINGLE FAMILY                                 34197
RESIDENTIAL CONDO                             14362
VACANT RESIDENTIAL LAND                        5099
DUPLEX                                         1373
ZERO LOT LINE                                  1048
RESIDENTIAL COMBO/MISC                           95
TRIPLEX                                          92
QUADPLEX                                         39
CHURCH                                           34
MOBILE HOME                                      20
DORMITORY/BOARDING HOUSE                         19
SPLIT CLASS                                      17
VACANT COMMERCIAL LAND                           17
PARKING LOT                                      11
GREENBELT                                        10
FOREST                                           10
PARSONAGE                                         6
GREENBELT/RES_x000D_\nGRRENBELT/RES               3
VACANT RURAL LAND                                 2
VACANT ZONED MULTI FAMILY                         2
OFFICE BLDG (ONE OR TWO STORIES)                  2
NON-PROFIT CHARITABLE SERVICE                     2
DAY CARE CENTER                                   2
TERMINAL/DISTRIBUTION WAREHOUSE                   2
APARTMENT: LOW RISE (BUILT SINCE 1960)            2
RESTURANT/CAFETERIA                               2
STRIP SHOPPING CENTER                             1
SMALL SERVICE SHOP                                1
ONE STORY GENERAL RETAIL STORE                    1
NIGHTCLUB/LOUNGE                                  1
LIGHT MANUFACTURING                               1
METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK        1
CLUB/UNION HALL/LODGE                             1
CONVENIENCE MARKET WITHOUT GAS                    1
MORTUARY/CEMETERY                                 1
Name: LandUse, dtype: int64

In [62]:
#Testing code to replace the similar values
land_use_subset = land_use_subset.str.replace(r'\AGREENBELT/RES_x000D_\nGRRENBELT/RES\Z', 'GREENBELT', case = False, regex = True)
land_use_subset.value_counts()

SINGLE FAMILY                                 34197
RESIDENTIAL CONDO                             14362
VACANT RESIDENTIAL LAND                        5099
DUPLEX                                         1373
ZERO LOT LINE                                  1048
RESIDENTIAL COMBO/MISC                           95
TRIPLEX                                          92
QUADPLEX                                         39
CHURCH                                           34
MOBILE HOME                                      20
DORMITORY/BOARDING HOUSE                         19
SPLIT CLASS                                      17
VACANT COMMERCIAL LAND                           17
GREENBELT                                        13
PARKING LOT                                      11
FOREST                                           10
PARSONAGE                                         6
VACANT RURAL LAND                                 2
VACANT ZONED MULTI FAMILY                         2
OFFICE BLDG (ONE OR TWO STORIES)                  2
DAY CARE CENTER                                   2
NON-PROFIT CHARITABLE SERVICE                     2
TERMINAL/DISTRIBUTION WAREHOUSE                   2
RESTURANT/CAFETERIA                               2
APARTMENT: LOW RISE (BUILT SINCE 1960)            2
STRIP SHOPPING CENTER                             1
SMALL SERVICE SHOP                                1
ONE STORY GENERAL RETAIL STORE                    1
NIGHTCLUB/LOUNGE                                  1
CLUB/UNION HALL/LODGE                             1
LIGHT MANUFACTURING                               1
METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK        1
CONVENIENCE MARKET WITHOUT GAS                    1
MORTUARY/CEMETERY                                 1
Name: LandUse, dtype: int64

In [6]:
#Replace the similar values in the main dataframe
df['LandUse'] = df['LandUse'].str.replace(r'VACANT RES LAND', 'VACANT RESIDENTIAL LAND', case = False)
df['LandUse'] = df['LandUse'].str.replace(r'VACANT RESIENTIAL LAND', 'VACANT RESIDENTIAL LAND', case = False)

In [7]:
#Replace the similar values in the main dataframe
df['LandUse'] = df['LandUse'].str.replace(r'\ACONDO\Z', 'RESIDENTIAL CONDO', case = False, regex = True)
df['LandUse'] = df['LandUse'].str.replace(r'\ACONDOMINIUM OFC  OR OTHER COM CONDO\Z', 'RESIDENTIAL CONDO', case = False, regex = True)

In [8]:
#Replace the similar values in the main dataframe
df['LandUse'] = df['LandUse'].str.replace(r'\AGREENBELT/RES_x000D_\nGRRENBELT/RES\Z', 'GREENBELT', case = False, regex = True)

In [65]:
#Create a subset of the SoldAsVacant column for testing
sold_as_vacant_subset = df['SoldAsVacant']
sold_as_vacant_subset.value_counts()

No     51403
Yes     4623
N        399
Y         52
Name: SoldAsVacant, dtype: int64

In [66]:
#Test the code to unify the answer Yes No
sold_as_vacant_subset = sold_as_vacant_subset.str.replace(r'\AN\Z', 'No', case = False, regex = True)
sold_as_vacant_subset = sold_as_vacant_subset.str.replace(r'\AY\Z', 'Yes', case = False, regex = True)
sold_as_vacant_subset.value_counts()

No     51802
Yes     4675
Name: SoldAsVacant, dtype: int64

In [9]:
#Implement the code in the main dataframe
df['SoldAsVacant'] = df['SoldAsVacant'].str.replace(r'\AN\Z', 'No', case = False, regex = True)
df['SoldAsVacant'] = df['SoldAsVacant'].str.replace(r'\AY\Z', 'Yes', case = False, regex = True)
df['SoldAsVacant'].value_counts()

No     51802
Yes     4675
Name: SoldAsVacant, dtype: int64

In [70]:
#Extract the data that have null values in both the OwnerName and OwnerAddress columns
owner_name_address = df[(df['OwnerName'].isna()) & (df['OwnerAddress'].isna())]
owner_name_address

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
10,29467,007 14 0A 024.00,SINGLE FAMILY,"2209 KAYLA DR, GOODLETTSVILLE",2015-04-14,425000,20150415-0033442,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10754,007 14 0A 027.00,SINGLE FAMILY,"109 BAILEY VIEW CT, GOODLETTSVILLE",2013-12-12,585000,20131227-0130352,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,34751,007 14 0B 010.00,RESIDENTIAL CONDO,"1900 TINNIN RD, GOODLETTSVILLE",2015-07-13,190000,20150717-0069947,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48716,011 15 0A 004.00,SINGLE FAMILY,"119 LAKESIDE DR, GOODLETTSVILLE",2016-05-31,435000,20160602-0055827,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2046,018 12 0A 004.00,SINGLE FAMILY,"105 JUDITH CT, GOODLETTSVILLE",2013-04-30,124900,20130502-0043992,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
#Testing code to fill in the missing values
mask = ((owner_name_address['OwnerName'].isna()) & (owner_name_address['OwnerAddress'].isna()))
owner_name_address.loc[mask] = owner_name_address.loc[mask].fillna('Not Applicable')
owner_name_address

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,New_Address,New_City,New_State
10,29467,007 14 0A 024.00,SINGLE FAMILY,"2209 KAYLA DR, GOODLETTSVILLE",2015-04-14,425000,20150415-0033442,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
11,10754,007 14 0A 027.00,SINGLE FAMILY,"109 BAILEY VIEW CT, GOODLETTSVILLE",2013-12-12,585000,20131227-0130352,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
12,34751,007 14 0B 010.00,RESIDENTIAL CONDO,"1900 TINNIN RD, GOODLETTSVILLE",2015-07-13,190000,20150717-0069947,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
25,48716,011 15 0A 004.00,SINGLE FAMILY,"119 LAKESIDE DR, GOODLETTSVILLE",2016-05-31,435000,20160602-0055827,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
108,2046,018 12 0A 004.00,SINGLE FAMILY,"105 JUDITH CT, GOODLETTSVILLE",2013-04-30,124900,20130502-0043992,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE",2015-05-27,157500,20150608-0053286,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE",2015-03-02,145000,20150304-0019013,No,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE",2016-08-16,234611,20160819-0087214,Yes,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE",2016-09-07,93844,20160919-0098411,Yes,Not Applicable,Not Applicable,...,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable,Not Applicable

In [15]:
#Filling missing values in the main dataframe
mask = ((df['OwnerName'].isna()) & (df['OwnerAddress'].isna()))
df.loc[mask] = df.loc[mask].fillna('Not Applicable')

In [104]:
#Create the subset where the OwnerName column has the missing value
missing_owner_name = df[df['OwnerName'].isna()]
missing_owner_name['OwnerAddress']

2387          407  HADLEY AVE, OLD HICKORY, TN
3263               1516  ROYAL ST, MADISON, TN
3792            2538  MIAMI AVE, NASHVILLE, TN
3793            2534  MIAMI AVE, NASHVILLE, TN
5118                 0  SURF DR, NASHVILLE, TN
                         ...
47408             5574  HILL RD, BRENTWOOD, TN
47410             5570  HILL RD, BRENTWOOD, TN
47563             0  RAYWOOD LN, NASHVILLE, TN
49762    3485  HAMILTON CHURCH RD, ANTIOCH, TN
50783          0  CLOVERLAND DR, BRENTWOOD, TN
Name: OwnerAddress, Length: 736, dtype: object

In [105]:
#Merge the missing_owner_name dataframe with the main dataframe to fill the remaining missing values
new_df = missing_owner_name.merge(df, how = 'left', on = ['OwnerAddress'])
new_df

,UniqueID _x,ParcelID_x,LandUse_x,PropertyAddress_x,SaleDate_x,SalePrice_x,LegalReference_x,SoldAsVacant_x,OwnerName_x,OwnerAddress,Acreage_x,TaxDistrict_x,LandValue_x,BuildingValue_x,TotalValue_x,YearBuilt_x,Bedrooms_x,FullBath_x,HalfBath_x,UniqueID _y,ParcelID_y,LandUse_y,PropertyAddress_y,SaleDate_y,SalePrice_y,LegalReference_y,SoldAsVacant_y,OwnerName_y,Acreage_y,TaxDistrict_y,LandValue_y,BuildingValue_y,TotalValue_y,YearBuilt_y,Bedrooms_y,FullBath_y,HalfBath_y
0,47296,044 11 0 055.00,SINGLE FAMILY,"407 HADLEY AVE, OLD HICKORY",2016-04-05,85000,20160411-0034103,No,NaN,"407 HADLEY AVE, OLD HICKORY, TN",0.25,GENERAL SERVICES DISTRICT,17000.0,50400.0,67400.0,1929.0,3.0,1.0,0.0,47296,044 11 0 055.00,SINGLE FAMILY,"407 HADLEY AVE, OLD HICKORY",2016-04-05,85000,20160411-0034103,No,NaN,0.25,GENERAL SERVICES DISTRICT,17000.0,50400.0,67400.0,1929.0,3.0,1.0,0.0
1,50681,051 10 0 039.00,VACANT RESIDENTIAL LAND,"1516 ROYAL ST, MADISON",2016-06-13,58500,20160630-0067201,Yes,NaN,"1516 ROYAL ST, MADISON, TN",0.45,GENERAL SERVICES DISTRICT,30000.0,0.0,30000.0,NaN,NaN,NaN,NaN,50681,051 10 0 039.00,VACANT RESIDENTIAL LAND,"1516 ROYAL ST, MADISON",2016-06-13,58500,20160630-0067201,Yes,NaN,0.45,GENERAL SERVICES DISTRICT,30000.0,0.0,30000.0,NaN,NaN,NaN,NaN
2,2264,052 13 0 097.00,SINGLE FAMILY,"2538 MIAMI AVE, NASHVILLE",2013-04-01,242403,20130408-0034181,No,NaN,"2538 MIAMI AVE, NASHVILLE, TN",0.11,URBAN SERVICES DISTRICT,30000.0,176100.0,206100.0,2004.0,3.0,2.0,0.0,2264,052 13 0 097.00,SINGLE FAMILY,"2538 MIAMI AVE, NASHVILLE",2013-04-01,242403,20130408-0034181,No,NaN,0.11,URBAN SERVICES DISTRICT,30000.0,176100.0,206100.0,2004.0,3.0,2.0,0.0
3,10976,052 13 0 099.00,SINGLE FAMILY,"2534 MIAMI AVE, NASHVILLE",2013-12-23,334900,20131226-0129882,No,NaN,"2534 MIAMI AVE, NASHVILLE, TN",0.11,URBAN SERVICES DISTRICT,30000.0,245600.0,275600.0,2006.0,3.0,2.0,1.0,10976,052 13 0 099.00,SINGLE FAMILY,"2534 MIAMI AVE, NASHVILLE",2013-12-23,334900,20131226-0129882,No,NaN,0.11,URBAN SERVICES DISTRICT,30000.0,245600.0,275600.0,2006.0,3.0,2.0,1.0
4,12435,060 00 0 041.00,VACANT RESIDENTIAL LAND,"0 SURF DR, NASHVILLE",2014-02-26,300000,20140228-0017255,Yes,NaN,"0 SURF DR, NASHVILLE, TN",12.3,URBAN SERVICES DISTRICT,155000.0,0.0,155000.0,NaN,NaN,NaN,NaN,12435,060 00 0 041.00,VACANT RESIDENTIAL LAND,"0 SURF DR, NASHVILLE",2014-02-26,300000,20140228-0017255,Yes,NaN,12.3,URBAN SERVICES DISTRICT,155000.0,0.0,155000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,46149,161 00 0 039.00,VACANT RESIDENTIAL LAND,"5574 HILL RD, BRENTWOOD",2016-04-14,727500,20160419-0037854,No,NaN,"5574 HILL RD, BRENTWOOD, TN",1.24,URBAN SERVICES DISTRICT,65300.0,0.0,65300.0,NaN,NaN,NaN,NaN,46149,161 00 0 039.00,VACANT RESIDENTIAL LAND,"5574 HILL RD, BRENTWOOD",2016-04-14,727500,20160419-0037854,No,NaN,1.24,URBAN SERVICES DISTRICT,65300.0,0.0,65300.0,NaN,NaN,NaN,NaN
1032,46151,161 00 0 199.00,VACANT RESIDENTIAL LAND,"5570 HILL RD, BRENTWOOD",2016-04-14,727500,20160419-0037854,No,NaN,"5570 HILL RD, BRENTWOOD, TN",1.25,URBAN SERVICES DISTRICT,65500.0,0.0,65500.0,NaN,NaN,NaN,NaN,46151,161 00 0 199.00,VACANT RESIDENTIAL LAND,"5570 HILL RD, BRENTWOOD",2016-04-14,727500,20160419-0037854,No,NaN,1.25,URBAN SERVICES DISTRICT,65500.0,0.0,65500.0,NaN,NaN,NaN,NaN
1033,16110,161 04 0 095.00,VACANT RESIDENTIAL LAND,"0 RAYWOOD LN, NASHVILLE",2014-06-02,376000,20140605-0048779,No,NaN,"0 RAYWOOD LN, NASHVILLE, TN",0.24,URBAN SERVICES DISTRICT,25000.0,0.0,25000.0,NaN,NaN,NaN,NaN,16110,161 04 0 095.00,VACANT RESIDENTIAL LAND,"0 RAYWOOD LN, NASHVILLE",2014-06-02,376000,20140605-0048779,No,NaN,0.24,URBAN SERVICES DISTRICT,25000.0,0.0,25000.0,NaN,NaN,NaN,NaN
1034,23204,164 00 0 062.00,VACANT RESIDENTIAL LAND,"3485 HAMILTON CHURCH RD, ANTIOCH",2014-10-01,430000,20141009-0093628,Yes,NaN,"3485 HAMILTON CHURCH RD, ANTIOCH, TN",11.93,GENERAL SERVICES DISTRICT,214700.0,0.0,214700.0,NaN,NaN,NaN,NaN,23204,164 00 0 062.00,VACANT RESIDENTIAL LAND,"3485 HAMILTON CHURCH RD, ANTIOCH",2014-10-01,430000,20141009-0093628,Yes,NaN,11.93,GENERAL SERVICES DISTRICT,214700.0,0.0,214700.0,NaN,NaN,NaN,NaN
1035,25778,171 00 0 202.00,VACANT RESIDENTIAL LAND,"CLOVERLAND DR, BRENTWOOD",2015-01-16,90000,20150120-0005484,Yes,NaN,"0 CLOVERLAND DR, BRENTWOOD, TN",0.93,URBAN SERVICES DISTRICT,42900.0,0.0,42900.0,NaN,NaN,0.0,0.0,25778,171 00 0 202.00,VACANT RESIDENTIAL LAND,"CLOVERLAND DR, BRENTWOOD",2015-01-16,90000,20150120-0005484,Yes,NaN,0.93,URBAN SERVICES DISTRICT,42900.0,0.0,42900.0,NaN,NaN,0.0,0.0

In [106]:
new_df['OwnerName_x'].isna().sum()

1036

In [109]:
#Find which OwnerName is missing if they share the same OwnerAddress
new_df[(new_df['OwnerName_y'].isna())][['OwnerAddress', 'OwnerName_y', 'OwnerName_x']]

                               OwnerAddress OwnerName_y OwnerName_x
0          407  HADLEY AVE, OLD HICKORY, TN         NaN         NaN
1               1516  ROYAL ST, MADISON, TN         NaN         NaN
2            2538  MIAMI AVE, NASHVILLE, TN         NaN         NaN
3            2534  MIAMI AVE, NASHVILLE, TN         NaN         NaN
4                 0  SURF DR, NASHVILLE, TN         NaN         NaN
...                                     ...         ...         ...
1031           5574  HILL RD, BRENTWOOD, TN         NaN         NaN
1032           5570  HILL RD, BRENTWOOD, TN         NaN         NaN
1033           0  RAYWOOD LN, NASHVILLE, TN         NaN         NaN
1034  3485  HAMILTON CHURCH RD, ANTIOCH, TN         NaN         NaN
1035        0  CLOVERLAND DR, BRENTWOOD, TN         NaN         NaN

[1036 rows x 3 columns]

In [87]:
#Testing the code to fill the OwnerName missing values with the OwnerName values that share the same addresses
mask = ((new_df['OwnerAddress'].str.contains('ARDEE AVE, NASHVILLE, TN', case = False, regex = True)) & (new_df['OwnerName_x'].isna()))
new_df.loc[mask, 'OwnerName_x'] = new_df.loc[mask, 'OwnerName_x'].fillna('NORTHEAST DEVELOPMENT, LLC')

In [88]:
new_df[(new_df['OwnerName_x'].isna()) & (new_df['OwnerName_y'].notna())][['OwnerAddress', 'OwnerName_y', 'OwnerName_x']]

                            OwnerAddress               OwnerName_y OwnerName_x
15    0  ASHLAND CITY HWY, NASHVILLE, TN         GREEN TRAILS, LLC         NaN
17    0  ASHLAND CITY HWY, NASHVILLE, TN  VAVRA, DALIBOR & DANIELA         NaN
18    0  ASHLAND CITY HWY, NASHVILLE, TN  VAVRA, DALIBOR & DANIELA         NaN
19    0  ASHLAND CITY HWY, NASHVILLE, TN  VAVRA, DALIBOR & DANIELA         NaN
20    0  ASHLAND CITY HWY, NASHVILLE, TN  VAVRA, DALIBOR & DANIELA         NaN
31        0  W TRINITY LN, NASHVILLE, TN  TRINITY LANE REALTY, LLC         NaN
32        0  W TRINITY LN, NASHVILLE, TN      PRIME NASHVILLE, LLC         NaN
35        0  W TRINITY LN, NASHVILLE, TN  TRINITY LANE REALTY, LLC         NaN
36        0  W TRINITY LN, NASHVILLE, TN      PRIME NASHVILLE, LLC         NaN
46          0  PRINCE AVE, NASHVILLE, TN                JH103, LLC         NaN
47          0  PRINCE AVE, NASHVILLE, TN                JH103, LLC         NaN
48          0  PRINCE AVE, NASHVILLE, TN                JH103, LLC         NaN
127            0  INGA ST, NASHVILLE, TN        508 INVESTORS, LLC         NaN
128            0  INGA ST, NASHVILLE, TN        508 INVESTORS, LLC         NaN
131            0  INGA ST, NASHVILLE, TN        508 INVESTORS, LLC         NaN
132            0  INGA ST, NASHVILLE, TN        508 INVESTORS, LLC         NaN
1048      0  PATTERSON ST, NASHVILLE, TN           COLLINS, EUGENE         NaN

In [95]:
#Implementing the code into the dataframe to fill the OwnerName missing values
#with the OwnerName values that share the same addresses
mask = ((df['OwnerAddress'].str.contains('ARDEE AVE, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('NORTHEAST DEVELOPMENT, LLC')

In [97]:
mask = ((df['OwnerAddress'].str.contains('ASHLAND CITY HWY, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('VAVRA, DALIBOR & DANIELA')

In [99]:
mask = ((df['OwnerAddress'].str.contains('W TRINITY LN, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('TRINITY LANE REALTY, LLC')

In [100]:
mask = ((df['OwnerAddress'].str.contains('PRINCE AVE, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('JH103, LLC')

In [101]:
mask = ((df['OwnerAddress'].str.contains('INGA ST, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('508 INVESTORS, LLC')

In [102]:
mask = ((df['OwnerAddress'].str.contains('PATTERSON ST, NASHVILLE, TN', case = False, regex = True)) & (df['OwnerName'].isna()))
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('COLLINS, EUGENE')

In [110]:
#Fill the remaining missing values in the OwnerName column with 'Not Applicable'
mask = (df['OwnerName'].isna())
df.loc[mask, 'OwnerName'] = df.loc[mask, 'OwnerName'].fillna('Not Applicable')

In [113]:
#Fill the remaining missing values in the YearBuilt, Bedrooms, FullBath, HalfBath columns with Not Applicable'
df = df.fillna('Not Applicable')